body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div{
    text-align: center;
   
    font-size: 50px;
  }
  .outer{
    height:800px;
    width:800px;
    border:2px solid black;
  }
  .row{
    height:100px;
    width:800px;
    background-color:pink;
    
  }
  .black{
    height:100px;
    width:100px;
    background-color:grey;
    float:left;
  }
  .white{
    height:100px;
    width:100px;
    background-color:white;
    float:left;
  }